body{
    background-color:rgb(31, 28, 28) ;
}
nav li{
color: white;
font-size: 16px;
display: inline-block;
font-weight:lighter;
text-decoration: none;
}
.flex-box{
    display: flex;
}
.red{
    width: 15%;
}
